<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>LarkFlow</string>
    <key>CFBundleIdentifier</key>
    <string>com.namrood.LarkFlow</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>LarkFlow</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSRemindersUsageDescription</key>
    <string>LarkFlow 需要访问您的提醒事项，以便将飞书任务同步到本地。</string>
    <key>NSRemindersFullAccessUsageDescription</key>
    <string>LarkFlow 需要完全访问您的提醒事项，以便实现双向同步。</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.namrood.LarkFlow</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>larkflow</string>
            </array>
        </dict>
    </array>
</dict>
</plist>